* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
  }


.container-login-left{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #2B699A;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    
}


.container-login-left .logo{
    width: 100px;
    
}


.container-login-left h1 {
    color: white;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    

}

.container-login-left .input-box{
    position: relative;
    margin: 25px 0;
}

.container-login-left input{
    width: 70%;
    margin: 0 10px;
    height: 40px;
    padding: 10px;
    border-radius: 55px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 300;    

}

.container-login-left input::placeholder{
    color: rgba(0, 0, 0, 0.712);
    font-size: 12px;
}


.container-login-left, icon{
    color: white;
    font-size: 20px;
    font-weight: 300;
    flex-direction: column;
    
}

.container-login-left p{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.container-login-left p a{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 200;  

}
.container-login-left p a:hover{
    color: #36a5c7;
    font-size: 15px;
    font-weight: 500;  
    text-decoration: underline;
}

.container-login-left .btn-login{
    width: 40%;
    padding: 8px;
    margin: 20px 0;
    border-radius: 55px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: #2B699A;
    
}

.container-login-left .btn-login:hover{
    transform: scale(1.1);

}
    
.container-login-right{
    position: absolute;
    width: 100%;
    height: 100%;
   
}

.container-login-right-enter::before{
    content: '';
    position: absolute;
    right:-250%;
    width: 350%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    border-radius: 170px;
    
}


.container-login-right-enter{
    position: absolute;
    width: 50%;
    right: 0;
    height: 100%;
    background-color: #2B699A;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

}

.container-login-right-enter h1{
    font-size: 40px;
    color: #2B699A;
    font-weight: 700;
    margin-bottom: 20px;
    z-index: 2;
    padding: 10px;
    text-align: center;

}

.container-login-right-enter p{
    margin-bottom: 25px;
    z-index: 2;
    color: #2B699A;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.container-login-right-enter .btn-register{
    width: 40%;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    background-color: #2B699A;
    border: none;
    z-index: 2;
    color: white;
    border-radius: 55px;
}

.container-login-right-enter .btn-register:hover{
    transform: scale(1.1);
}