/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

 body {

    background-color: #2B699A;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
 }


 .container-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#B9D0E2;    
    margin: 100px;    
    padding: 50px;
    padding-top:50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.96);      
    width: 80%;
    border-radius: 30px;
    border: none;
    text-align: center;
 }

.input-email {
    width: 100%;
    padding: 10px 50px ;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 35px;
    font-size: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .container-password form{
   width: 70%;
   display: flex;
   
 }
 .input-email label{
   align-self: flex-start;
   margin-left: 20px;
   font-size: 20px;
   font-family: 'Poppins';
   
 }

 .container-password input{
   width: 100%;
   border-radius: 55px;
   border: none;
   height: 40px;
   outline: none;
   padding: 15px;
   font-size: 20px;

 }


 h2{

   white-space: nowrap;
   margin: 20px;

 }  
 
 .btn-recuperar button{
    width: 100%;
    padding: 10px 50px;
    margin-top: 30px;    
    border-radius: 50px;
    border: 3px solid #1E4C7D;
    color: #1E4C7D;
    background-color: white;
    cursor: pointer;
    transition: 0.1s;
    font-size: 20px;
   
    
  }
  .btn-entrar button{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    text-decoration: underline;
    background:  none;
    font-weight: bold;
    border: none;
    font-size: 20px;
    color: #1E4C7D;
    
    
    

  }
  button:hover {
    background-color: #163B5E;
    color: white;
  } */